<div style="text-align:left">
  <h1 style="color:chocolate;font: 2em sans-serif;">Hello .. My Photos</h1>
</div>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="2% grid" fxLayoutAlign="space-evenly center">
  <div>
    <mat-card class="card-picture">
      <img mat-card-image class="img" src="assets/photos/Ishan4.JPG" />
    </mat-card>
  </div>
  <div>
    <mat-card class="card-picture">
      <img mat-card-image class="img" src="assets/photos/Ishan3.png" />
    </mat-card>
  </div>
  <div>
    <mat-card class="card-picture">
      <img mat-card-image class="img" src="assets/photos/Ishan2.png" />
    </mat-card>
  </div>
  <div>
    <mat-card class="card-picture">
      <img mat-card-image class="img" src="assets/photos/IMG_6751.JPG" />
    </mat-card>
  </div>
  <div>
    <mat-card class="card-picture">
      <img mat-card-image class="img" src="assets/photos/IMG_6753.JPG" />
    </mat-card>
  </div>
</div>