.example-spacer {
    flex: 1 1 auto;
  }
  
  .news-card{
      margin-top: 4px;      
  }
  
  .header-image { 
    background-size: cover;
  }
  
  .title{
      font-weight: bold;
  }
  
  .img-article{
      height: 350px;
  }
  
  .action-buttons{
      text-align: center;
  }
  
  .news-container {
      width: 100%;
      height: auto;
      margin: 10px;
      background-color: white;
  }
  
  .drawer-content {
      /*padding: 2em 20em;*/
      display: flex;
      width:60%;
      align-content: right;
      padding-left: 100px;
      flex-direction: column;
      align-items: flex-start;
  }
  
  .drawer {
      padding: 20px;
  }
  
  .source-name {
      margin-left:5px; 
  }
  
  .list-item:hover{
      cursor: pointer;
      background-color: #3f51b5;
      color: white;
  }
  