.spacer {
    flex: 1 1 auto;
  }
  
  .news-card{
    flex: 1 1 auto;
    width: 60%;
    align-content: center;
    align-items: center;
    margin: 5px;
  }

  .head-card{
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      align-content: center;
      vertical-align: top;
      font-size: x-large;
  }
  
  .header-image { 
    background-size: cover;
  }
  
  .title{
      font-weight: bold;
  }
  
  .img-article{
    max-width: 450px;  
    max-height: 350px;
  }
  
  .action-buttons{
      text-align: center;
  }
  
  .news-container {
      width: 100%;
      height: auto;
      margin: 10px;
      background-color: white;
  }
  
  .drawer-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }
  
  .drawer {
      padding: 20px;
  }
  
  .source-name {
      margin-left:5px; 
  }
  
  .list-item:hover{
      cursor: pointer;
      background-color: #3f51b5;
      color: white;
  }

  .toc-icon:hover{
    cursor: pointer;
}
  